<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bfs.mbistro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".BistroApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.restaurant.list.RestaurantsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a89581e38873d1dff24d93e11d0ed780df1167fa" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYyzi_I55Ph6Dj3tKq55hDI2Sx-obDNo8" />

        <activity
            android:name=".module.restaurant.details.ui.DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".module.restaurant.list.RestaurantsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bfs.mbistro.module.restaurant.list.RestaurantsActivity"/>
        </activity>
    </application>

</manifest>